/* default settings */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* HEADER */

header {
    padding-top: 50px;
    text-align: center;
}

.title {
    font-weight: bolder;
    margin-bottom: 50px;
    color: #e53170;
}

.paragraf{
    width: 70%;
    margin: auto;
    margin-bottom: 50px;
}

/* MAIN */

.container {
    background-color: white;
    width: 70%;
    margin: auto;
    padding: 10px;
}

.container::after {
    content: "";
    display: block;
    clear: both;
}


.caption-container {
    background: white;
    width: calc(100% / 3);
    padding: 10px;
    float: left;
}

.caption {
    background-color: #0f0e17;
    width: 100%;
    color: white;
    box-shadow: 0px 0px 10px #0f0e17;
}

.caption::after {
    content: "";
    display: block;
    clear: both;
}

.img {
    width: 80px;
    height: 80px;
    float: left;
}

.description {
    float: left;
    margin-left: 10px;
}


.mail {
    color: #4dcceb;
    text-decoration: none;
}

.mail:hover {
    letter-spacing: 0.1em;
    text-shadow: 0 0 10px white;
    transition: 0.5s;
}

.down {
    margin-top: 20px;
    margin-bottom: 40px;
}

.button {
    margin-left: 48%;
    text-decoration: none;
    text-transform: uppercase;
    background: #0f0e17;
    color: white;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    font-weight: 400;
    padding: 10px 30px;
    transition: 0.5s;
}

.button:hover {
    letter-spacing: 0.25em;
    box-shadow: 0 0 10px #0f0e17;
}